.banner {
    background-color:green;
    color : white;
    border-radius: 6px;
}

.homepage {
    color : black;
}

h1.det {
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
}

p.det {
    padding-left: 10px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-inline-start: 2px;
    width: 120px;
    margin: 0px 0px 0px 0px ;
    display: inline-block;
}

ul li {
    height: 30px;
    margin-bottom : 2px;
    background-color: ghostwhite;
    border : solid lightgrey 2px;
    border-radius : 5px;
    text-align:middle;
}

ul li a{
    width:  300px;
    margin-bottom : 5px;
    color : black;
    text-decoration: none;
}


/*
ul li.select a  {
    background-color : green;
    font-size : 21px;
    padding-top : 0px;
    height: 30px;
}
*/
table {
    width : 100%;
    border-collapse : collapse;
}

table, td, th {
    border: 1px solid lightgrey;
    text-align: left;

}

td, th {
    padding-left:10px;
}

tr {
    height:40px;
}

tr:nth-child(even) {
    background-color : #f2f2f2;

}

th{
    background-color: #4CAF50;
    color: white;
    height:50px
}

span{
    display:inline-block;
}

.side {
    background-color:skyblue;
    color: white;
    padding-left : 5px;
}

.sdie h2, p {
    margin : 0px;
}