ul {
    padding: 0px;
}

li {
    display: inline;
    padding: 0px;
}

li a {
    color : black;
    text-decoration : none;
    background-color : darkgray;
    width : 100px;
}

li a.select {
    background-color : #4CAF50;
}   